workflows/auto-refund-simulator.json
{
  "name": "Should We Let AI Auto-Handle Refunds? — Behavioral Simulation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "simulate-refund-policy",
        "responseMode": "responseNode"
      },
      "id": "trigger-1",
      "name": "Policy Proposal",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "notes": "Receives a policy change proposal. Example POST body:\n{\n  \"proposal\": \"Enable auto-refunds under $100\",\n  \"current_state\": {\n    \"trust_score\": 75,\n    \"refund_rate\": 12,\n    \"abuse_rate\": 3\n  }\n}"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ JSON.stringify({ proposal: $json.body?.proposal || 'Enable auto-refunds under $100', trust_score: $json.body?.current_state?.trust_score ?? 75, refund_rate: $json.body?.current_state?.refund_rate ?? 12, abuse_rate: $json.body?.current_state?.abuse_rate ?? 3, customer_satisfaction: $json.body?.current_state?.customer_satisfaction ?? 70, revenue_margin: $json.body?.current_state?.revenue_margin ?? 65, escalation_rate: $json.body?.current_state?.escalation_rate ?? 8, auto_resolve_rate: 60 }) }}"
      },
      "id": "setup-1",
      "name": "Prepare Simulation Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 400],
      "notes": "Normalizes input and sets auto_resolve_rate to 60% — this is the 'what if' scenario we're testing."
    },
    {
      "parameters": {
        "worldSource": "filePath",
        "worldFilePath": "/data/worlds/refund-policy-simulator",
        "steps": 10,
        "profile": "best_case",
        "stateOverrides": "={{ JSON.stringify({ trust_score: $json.trust_score, refund_rate: $json.refund_rate, abuse_rate: $json.abuse_rate, customer_satisfaction: $json.customer_satisfaction, revenue_margin: $json.revenue_margin, escalation_rate: $json.escalation_rate, auto_resolve_rate: $json.auto_resolve_rate }) }}",
        "haltOnCollapse": false
      },
      "id": "sim-best",
      "name": "Simulate Best Case",
      "type": "@neuroverseos/n8n-nodes-neuroverse.neuroVerseSimulate",
      "typeVersion": 1,
      "position": [760, 200]
    },
    {
      "parameters": {
        "worldSource": "filePath",
        "worldFilePath": "/data/worlds/refund-policy-simulator",
        "steps": 10,
        "profile": "expected",
        "stateOverrides": "={{ JSON.stringify({ trust_score: $json.trust_score, refund_rate: $json.refund_rate, abuse_rate: $json.abuse_rate, customer_satisfaction: $json.customer_satisfaction, revenue_margin: $json.revenue_margin, escalation_rate: $json.escalation_rate, auto_resolve_rate: $json.auto_resolve_rate }) }}",
        "haltOnCollapse": false
      },
      "id": "sim-expected",
      "name": "Simulate Expected",
      "type": "@neuroverseos/n8n-nodes-neuroverse.neuroVerseSimulate",
      "typeVersion": 1,
      "position": [760, 400]
    },
    {
      "parameters": {
        "worldSource": "filePath",
        "worldFilePath": "/data/worlds/refund-policy-simulator",
        "steps": 10,
        "profile": "worst_case",
        "stateOverrides": "={{ JSON.stringify({ trust_score: $json.trust_score, refund_rate: $json.refund_rate, abuse_rate: $json.abuse_rate, customer_satisfaction: $json.customer_satisfaction, revenue_margin: $json.revenue_margin, escalation_rate: $json.escalation_rate, auto_resolve_rate: $json.auto_resolve_rate }) }}",
        "haltOnCollapse": false
      },
      "id": "sim-worst",
      "name": "Simulate Worst Case",
      "type": "@neuroverseos/n8n-nodes-neuroverse.neuroVerseSimulate",
      "typeVersion": 1,
      "position": [760, 600]
    },
    {
      "parameters": {
        "functionCode": "// ─── Behavioral Analysis: Extract the story from the simulation data ───\nconst sim = items[0].json.simulation;\nconst steps = sim.stepDetails || [];\nconst profile = sim.profile || 'unknown';\n\n// Find the inflection point — first step where viability drops from initial\nconst initialViability = steps[0]?.viability || 'THRIVING';\nlet inflectionStep = null;\nlet inflectionFrom = initialViability;\nlet inflectionTo = null;\nfor (const step of steps) {\n  if (step.viability !== initialViability && !inflectionStep) {\n    inflectionStep = step.step;\n    inflectionTo = step.viability;\n    break;\n  }\n}\n\n// Count rule frequency — which rules dominate the trajectory\nconst ruleCounts = {};\nconst ruleLabels = {};\nfor (const step of steps) {\n  for (const rule of (step.rulesTriggered || [])) {\n    ruleCounts[rule.ruleId] = (ruleCounts[rule.ruleId] || 0) + 1;\n    ruleLabels[rule.ruleId] = rule.label;\n  }\n}\n\n// Sort by frequency\nconst dominantRules = Object.entries(ruleCounts)\n  .sort((a, b) => b[1] - a[1])\n  .slice(0, 5)\n  .map(([id, count]) => ({ ruleId: id, label: ruleLabels[id], timesFired: count }));\n\n// Find the first cascade — a step where 3+ rules fire simultaneously\nlet cascadeStep = null;\nlet cascadeRuleCount = 0;\nfor (const step of steps) {\n  if ((step.rulesTriggered || []).length >= 3 && !cascadeStep) {\n    cascadeStep = step.step;\n    cascadeRuleCount = step.rulesTriggered.length;\n    break;\n  }\n}\n\n// Calculate degradation rates for key metrics\nconst initial = sim.initialState || {};\nconst final = sim.finalState || {};\nconst metrics = {};\nfor (const key of ['trust_score', 'revenue_margin', 'customer_satisfaction', 'abuse_rate', 'refund_rate', 'escalation_rate']) {\n  if (initial[key] !== undefined && final[key] !== undefined) {\n    const start = Number(initial[key]);\n    const end = Number(final[key]);\n    const change = end - start;\n    const pctChange = start !== 0 ? Math.round((change / start) * 100) : 0;\n    metrics[key] = {\n      start: Math.round(start * 10) / 10,\n      end: Math.round(end * 10) / 10,\n      change: Math.round(change * 10) / 10,\n      pctChange,\n      direction: change > 0 ? 'increased' : change < 0 ? 'decreased' : 'unchanged'\n    };\n  }\n}\n\n// Identify root cause — the earliest-firing degradation/structural rule\nlet rootCause = null;\nfor (const step of steps) {\n  for (const rule of (step.rulesTriggered || [])) {\n    const dominant = dominantRules.find(d => d.ruleId === rule.ruleId);\n    if (dominant && dominant.timesFired >= 3) {\n      rootCause = { ruleId: rule.ruleId, label: rule.label, firstStep: step.step, totalFires: dominant.timesFired };\n      break;\n    }\n  }\n  if (rootCause) break;\n}\n\nreturn [{\n  json: {\n    profile,\n    finalViability: sim.finalViability,\n    collapsed: sim.collapsed || false,\n    collapseStep: sim.collapseStep || null,\n    totalSteps: steps.length,\n    inflection: inflectionStep ? {\n      step: inflectionStep,\n      from: inflectionFrom,\n      to: inflectionTo\n    } : null,\n    cascade: cascadeStep ? {\n      step: cascadeStep,\n      simultaneousRules: cascadeRuleCount\n    } : null,\n    dominantRules,\n    rootCause,\n    metrics,\n    trajectory: steps.map(s => ({\n      step: s.step,\n      viability: s.viability,\n      rulesFired: s.rulesFired\n    }))\n  }\n}];"
      },
      "id": "analyze-best",
      "name": "Analyze Best Case",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 200]
    },
    {
      "parameters": {
        "functionCode": "// ─── Behavioral Analysis: Extract the story from the simulation data ───\nconst sim = items[0].json.simulation;\nconst steps = sim.stepDetails || [];\nconst profile = sim.profile || 'unknown';\n\n// Find the inflection point — first step where viability drops from initial\nconst initialViability = steps[0]?.viability || 'THRIVING';\nlet inflectionStep = null;\nlet inflectionFrom = initialViability;\nlet inflectionTo = null;\nfor (const step of steps) {\n  if (step.viability !== initialViability && !inflectionStep) {\n    inflectionStep = step.step;\n    inflectionTo = step.viability;\n    break;\n  }\n}\n\n// Count rule frequency — which rules dominate the trajectory\nconst ruleCounts = {};\nconst ruleLabels = {};\nfor (const step of steps) {\n  for (const rule of (step.rulesTriggered || [])) {\n    ruleCounts[rule.ruleId] = (ruleCounts[rule.ruleId] || 0) + 1;\n    ruleLabels[rule.ruleId] = rule.label;\n  }\n}\n\n// Sort by frequency\nconst dominantRules = Object.entries(ruleCounts)\n  .sort((a, b) => b[1] - a[1])\n  .slice(0, 5)\n  .map(([id, count]) => ({ ruleId: id, label: ruleLabels[id], timesFired: count }));\n\n// Find the first cascade — a step where 3+ rules fire simultaneously\nlet cascadeStep = null;\nlet cascadeRuleCount = 0;\nfor (const step of steps) {\n  if ((step.rulesTriggered || []).length >= 3 && !cascadeStep) {\n    cascadeStep = step.step;\n    cascadeRuleCount = step.rulesTriggered.length;\n    break;\n  }\n}\n\n// Calculate degradation rates for key metrics\nconst initial = sim.initialState || {};\nconst final = sim.finalState || {};\nconst metrics = {};\nfor (const key of ['trust_score', 'revenue_margin', 'customer_satisfaction', 'abuse_rate', 'refund_rate', 'escalation_rate']) {\n  if (initial[key] !== undefined && final[key] !== undefined) {\n    const start = Number(initial[key]);\n    const end = Number(final[key]);\n    const change = end - start;\n    const pctChange = start !== 0 ? Math.round((change / start) * 100) : 0;\n    metrics[key] = {\n      start: Math.round(start * 10) / 10,\n      end: Math.round(end * 10) / 10,\n      change: Math.round(change * 10) / 10,\n      pctChange,\n      direction: change > 0 ? 'increased' : change < 0 ? 'decreased' : 'unchanged'\n    };\n  }\n}\n\n// Identify root cause — the earliest-firing degradation/structural rule\nlet rootCause = null;\nfor (const step of steps) {\n  for (const rule of (step.rulesTriggered || [])) {\n    const dominant = dominantRules.find(d => d.ruleId === rule.ruleId);\n    if (dominant && dominant.timesFired >= 3) {\n      rootCause = { ruleId: rule.ruleId, label: rule.label, firstStep: step.step, totalFires: dominant.timesFired };\n      break;\n    }\n  }\n  if (rootCause) break;\n}\n\nreturn [{\n  json: {\n    profile,\n    finalViability: sim.finalViability,\n    collapsed: sim.collapsed || false,\n    collapseStep: sim.collapseStep || null,\n    totalSteps: steps.length,\n    inflection: inflectionStep ? {\n      step: inflectionStep,\n      from: inflectionFrom,\n      to: inflectionTo\n    } : null,\n    cascade: cascadeStep ? {\n      step: cascadeStep,\n      simultaneousRules: cascadeRuleCount\n    } : null,\n    dominantRules,\n    rootCause,\n    metrics,\n    trajectory: steps.map(s => ({\n      step: s.step,\n      viability: s.viability,\n      rulesFired: s.rulesFired\n    }))\n  }\n}];"
      },
      "id": "analyze-expected",
      "name": "Analyze Expected",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 400]
    },
    {
      "parameters": {
        "functionCode": "// ─── Behavioral Analysis: Extract the story from the simulation data ───\nconst sim = items[0].json.simulation;\nconst steps = sim.stepDetails || [];\nconst profile = sim.profile || 'unknown';\n\n// Find the inflection point — first step where viability drops from initial\nconst initialViability = steps[0]?.viability || 'THRIVING';\nlet inflectionStep = null;\nlet inflectionFrom = initialViability;\nlet inflectionTo = null;\nfor (const step of steps) {\n  if (step.viability !== initialViability && !inflectionStep) {\n    inflectionStep = step.step;\n    inflectionTo = step.viability;\n    break;\n  }\n}\n\n// Count rule frequency — which rules dominate the trajectory\nconst ruleCounts = {};\nconst ruleLabels = {};\nfor (const step of steps) {\n  for (const rule of (step.rulesTriggered || [])) {\n    ruleCounts[rule.ruleId] = (ruleCounts[rule.ruleId] || 0) + 1;\n    ruleLabels[rule.ruleId] = rule.label;\n  }\n}\n\n// Sort by frequency\nconst dominantRules = Object.entries(ruleCounts)\n  .sort((a, b) => b[1] - a[1])\n  .slice(0, 5)\n  .map(([id, count]) => ({ ruleId: id, label: ruleLabels[id], timesFired: count }));\n\n// Find the first cascade — a step where 3+ rules fire simultaneously\nlet cascadeStep = null;\nlet cascadeRuleCount = 0;\nfor (const step of steps) {\n  if ((step.rulesTriggered || []).length >= 3 && !cascadeStep) {\n    cascadeStep = step.step;\n    cascadeRuleCount = step.rulesTriggered.length;\n    break;\n  }\n}\n\n// Calculate degradation rates for key metrics\nconst initial = sim.initialState || {};\nconst final = sim.finalState || {};\nconst metrics = {};\nfor (const key of ['trust_score', 'revenue_margin', 'customer_satisfaction', 'abuse_rate', 'refund_rate', 'escalation_rate']) {\n  if (initial[key] !== undefined && final[key] !== undefined) {\n    const start = Number(initial[key]);\n    const end = Number(final[key]);\n    const change = end - start;\n    const pctChange = start !== 0 ? Math.round((change / start) * 100) : 0;\n    metrics[key] = {\n      start: Math.round(start * 10) / 10,\n      end: Math.round(end * 10) / 10,\n      change: Math.round(change * 10) / 10,\n      pctChange,\n      direction: change > 0 ? 'increased' : change < 0 ? 'decreased' : 'unchanged'\n    };\n  }\n}\n\n// Identify root cause — the earliest-firing degradation/structural rule\nlet rootCause = null;\nfor (const step of steps) {\n  for (const rule of (step.rulesTriggered || [])) {\n    const dominant = dominantRules.find(d => d.ruleId === rule.ruleId);\n    if (dominant && dominant.timesFired >= 3) {\n      rootCause = { ruleId: rule.ruleId, label: rule.label, firstStep: step.step, totalFires: dominant.timesFired };\n      break;\n    }\n  }\n  if (rootCause) break;\n}\n\nreturn [{\n  json: {\n    profile,\n    finalViability: sim.finalViability,\n    collapsed: sim.collapsed || false,\n    collapseStep: sim.collapseStep || null,\n    totalSteps: steps.length,\n    inflection: inflectionStep ? {\n      step: inflectionStep,\n      from: inflectionFrom,\n      to: inflectionTo\n    } : null,\n    cascade: cascadeStep ? {\n      step: cascadeStep,\n      simultaneousRules: cascadeRuleCount\n    } : null,\n    dominantRules,\n    rootCause,\n    metrics,\n    trajectory: steps.map(s => ({\n      step: s.step,\n      viability: s.viability,\n      rulesFired: s.rulesFired\n    }))\n  }\n}];"
      },
      "id": "analyze-worst",
      "name": "Analyze Worst Case",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 600]
    },
    {
      "parameters": {
        "functionCode": "// ─── Merge all 3 profiles and generate the behavioral comparison ───\n\n// Collect analyses from the 3 input connections\nconst best = items[0]?.json || {};\nconst expected = items[1]?.json || {};\nconst worst = items[2]?.json || {};\n\nconst profiles = { best_case: best, expected, worst_case: worst };\n\n// ─── Decision Logic ───\nconst viabilities = [best.finalViability, expected.finalViability, worst.finalViability];\nconst anyCritical = viabilities.includes('CRITICAL') || viabilities.includes('MODEL_COLLAPSES');\nconst anyCollapsed = best.collapsed || expected.collapsed || worst.collapsed;\nconst allHealthy = viabilities.every(v => v === 'THRIVING' || v === 'STABLE');\nconst expectedOk = expected.finalViability === 'THRIVING' || expected.finalViability === 'STABLE';\n\nlet decision, recommendation;\nif (allHealthy) {\n  decision = 'APPROVE';\n  recommendation = 'All scenarios remain healthy through 10 steps. Safe to enable auto-refunds.';\n} else if (expectedOk && !anyCollapsed) {\n  decision = 'APPROVE_WITH_GUARDRAILS';\n  recommendation = 'Expected case is stable, but worst case shows degradation. Enable with monitoring and abuse detection guardrails.';\n} else if (anyCritical || anyCollapsed) {\n  decision = 'BLOCK';\n  recommendation = 'System reaches CRITICAL or collapses under realistic conditions. Do NOT enable auto-refunds without fundamental changes.';\n} else {\n  decision = 'REVIEW';\n  recommendation = 'Mixed results — requires human review of the behavioral trajectories before proceeding.';\n}\n\n// ─── Find the most dangerous rule across all profiles ───\nconst allRules = {};\nfor (const [name, profile] of Object.entries(profiles)) {\n  for (const rule of (profile.dominantRules || [])) {\n    const key = rule.ruleId;\n    if (!allRules[key]) allRules[key] = { ruleId: key, label: rule.label, totalFires: 0, profiles: [] };\n    allRules[key].totalFires += rule.timesFired;\n    allRules[key].profiles.push(name);\n  }\n}\nconst topThreats = Object.values(allRules).sort((a, b) => b.totalFires - a.totalFires).slice(0, 3);\n\n// ─── Build the report ───\nconst lines = [];\nlines.push('===== BEHAVIORAL SIMULATION REPORT =====');\nlines.push('');\nlines.push('Policy: Enable AI auto-refunds under $100');\nlines.push('Simulation: 10 steps across 3 assumption profiles');\nlines.push('');\nlines.push('--- OUTCOMES ---');\nfor (const [name, profile] of Object.entries(profiles)) {\n  const label = name.replace('_', ' ').toUpperCase();\n  const v = profile.finalViability || 'UNKNOWN';\n  const collapsed = profile.collapsed ? ' [COLLAPSED]' : '';\n  lines.push(`  ${label}: ${v}${collapsed}`);\n  if (profile.inflection) {\n    lines.push(`    Inflection: Step ${profile.inflection.step} (${profile.inflection.from} -> ${profile.inflection.to})`);\n  }\n  if (profile.cascade) {\n    lines.push(`    First cascade: Step ${profile.cascade.step} (${profile.cascade.simultaneousRules} rules firing simultaneously)`);\n  }\n  if (profile.metrics?.trust_score) {\n    const t = profile.metrics.trust_score;\n    lines.push(`    Trust: ${t.start} -> ${t.end} (${t.pctChange > 0 ? '+' : ''}${t.pctChange}%)`);\n  }\n  if (profile.metrics?.revenue_margin) {\n    const r = profile.metrics.revenue_margin;\n    lines.push(`    Revenue margin: ${r.start} -> ${r.end} (${r.pctChange > 0 ? '+' : ''}${r.pctChange}%)`);\n  }\n  if (profile.metrics?.abuse_rate) {\n    const a = profile.metrics.abuse_rate;\n    lines.push(`    Abuse rate: ${a.start} -> ${a.end} (${a.pctChange > 0 ? '+' : ''}${a.pctChange}%)`);\n  }\n  lines.push('');\n}\n\nlines.push('--- ROOT CAUSE ANALYSIS ---');\nfor (const threat of topThreats) {\n  lines.push(`  ${threat.label} (${threat.ruleId})`);\n  lines.push(`    Fired ${threat.totalFires}x across profiles: ${threat.profiles.join(', ')}`);\n}\nlines.push('');\n\nif (worst.rootCause) {\n  lines.push('--- WORST CASE ROOT CAUSE ---');\n  lines.push(`  Rule: ${worst.rootCause.label}`);\n  lines.push(`  First fires at: Step ${worst.rootCause.firstStep}`);\n  lines.push(`  Total fires: ${worst.rootCause.totalFires}x in 10 steps`);\n  lines.push('');\n}\n\nlines.push('--- DECISION ---');\nlines.push(`  ${decision}`);\nlines.push(`  ${recommendation}`);\n\nconst report = lines.join('\\n');\n\nreturn [{\n  json: {\n    decision,\n    recommendation,\n    report,\n    profiles: {\n      best_case: { viability: best.finalViability, collapsed: best.collapsed, inflection: best.inflection, metrics: best.metrics },\n      expected: { viability: expected.finalViability, collapsed: expected.collapsed, inflection: expected.inflection, metrics: expected.metrics },\n      worst_case: { viability: worst.finalViability, collapsed: worst.collapsed, inflection: worst.inflection, metrics: worst.metrics }\n    },\n    topThreats,\n    worstCaseRootCause: worst.rootCause || null\n  }\n}];"
      },
      "id": "merge-1",
      "name": "Merge + Compare + Decide",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 400],
      "notes": "Merges all 3 behavioral analyses, compares trajectories, identifies root causes, and makes a deployment decision."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "approve",
              "leftValue": "={{ $json.decision }}",
              "rightValue": "APPROVE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "switch-1",
      "name": "Route Decision",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1600, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'APPROVED', decision: $json.decision, recommendation: $json.recommendation, report: $json.report, profiles: $json.profiles }, null, 2) }}"
      },
      "id": "respond-approve",
      "name": "Respond: Safe to Deploy",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1860, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: $json.decision, decision: $json.decision, recommendation: $json.recommendation, report: $json.report, profiles: $json.profiles, topThreats: $json.topThreats, rootCause: $json.worstCaseRootCause }, null, 2) }}",
        "options": {
          "responseCode": 422
        }
      },
      "id": "respond-block",
      "name": "Respond: Do NOT Deploy",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1860, 500]
    }
  ],
  "connections": {
    "Policy Proposal": {
      "main": [
        [{ "node": "Prepare Simulation Input", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Simulation Input": {
      "main": [
        [
          { "node": "Simulate Best Case", "type": "main", "index": 0 },
          { "node": "Simulate Expected", "type": "main", "index": 0 },
          { "node": "Simulate Worst Case", "type": "main", "index": 0 }
        ]
      ]
    },
    "Simulate Best Case": {
      "main": [
        [{ "node": "Analyze Best Case", "type": "main", "index": 0 }],
        [{ "node": "Analyze Best Case", "type": "main", "index": 0 }],
        [{ "node": "Analyze Best Case", "type": "main", "index": 0 }]
      ]
    },
    "Simulate Expected": {
      "main": [
        [{ "node": "Analyze Expected", "type": "main", "index": 0 }],
        [{ "node": "Analyze Expected", "type": "main", "index": 0 }],
        [{ "node": "Analyze Expected", "type": "main", "index": 0 }]
      ]
    },
    "Simulate Worst Case": {
      "main": [
        [{ "node": "Analyze Worst Case", "type": "main", "index": 0 }],
        [{ "node": "Analyze Worst Case", "type": "main", "index": 0 }],
        [{ "node": "Analyze Worst Case", "type": "main", "index": 0 }]
      ]
    },
    "Analyze Best Case": {
      "main": [
        [{ "node": "Merge + Compare + Decide", "type": "main", "index": 0 }]
      ]
    },
    "Analyze Expected": {
      "main": [
        [{ "node": "Merge + Compare + Decide", "type": "main", "index": 0 }]
      ]
    },
    "Analyze Worst Case": {
      "main": [
        [{ "node": "Merge + Compare + Decide", "type": "main", "index": 0 }]
      ]
    },
    "Merge + Compare + Decide": {
      "main": [
        [{ "node": "Route Decision", "type": "main", "index": 0 }]
      ]
    },
    "Route Decision": {
      "main": [
        [{ "node": "Respond: Safe to Deploy", "type": "main", "index": 0 }],
        [{ "node": "Respond: Do NOT Deploy", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
