workflows/auto-refund-simulator.json
{
  "name": "Should We Let AI Auto-Handle Refunds? — Behavioral Simulation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "simulate-refund-policy",
        "responseMode": "responseNode"
      },
      "id": "trigger-1",
      "name": "Policy Proposal",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "notes": "Receives a policy change proposal. Example POST body:\n{\n  \"proposal\": \"Enable auto-refunds under $100\",\n  \"current_state\": {\n    \"trust_score\": 75,\n    \"refund_rate\": 12,\n    \"abuse_rate\": 3\n  }\n}"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ JSON.stringify({ proposal: $json.body?.proposal || 'Enable auto-refunds under $100', trust_score: $json.body?.current_state?.trust_score ?? 75, refund_rate: $json.body?.current_state?.refund_rate ?? 12, abuse_rate: $json.body?.current_state?.abuse_rate ?? 3, customer_satisfaction: $json.body?.current_state?.customer_satisfaction ?? 70, revenue_margin: $json.body?.current_state?.revenue_margin ?? 65, escalation_rate: $json.body?.current_state?.escalation_rate ?? 8, auto_resolve_rate: 60 }) }}"
      },
      "id": "setup-1",
      "name": "Prepare Simulation Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 400],
      "notes": "Normalizes input and sets auto_resolve_rate to 60% — this is the 'what if' scenario we're testing."
    },
    {
      "parameters": {
        "worldSource": "filePath",
        "worldFilePath": "/data/worlds/refund-policy-simulator",
        "steps": 10,
        "profile": "best_case",
        "stateOverrides": "={{ JSON.stringify({ trust_score: $json.trust_score, refund_rate: $json.refund_rate, abuse_rate: $json.abuse_rate, customer_satisfaction: $json.customer_satisfaction, revenue_margin: $json.revenue_margin, escalation_rate: $json.escalation_rate, auto_resolve_rate: $json.auto_resolve_rate }) }}",
        "haltOnCollapse": false
      },
      "id": "sim-best",
      "name": "Simulate Best Case",
      "type": "@neuroverseos/n8n-nodes-neuroverse.neuroVerseSimulate",
      "typeVersion": 1,
      "position": [760, 200]
    },
    {
      "parameters": {
        "worldSource": "filePath",
        "worldFilePath": "/data/worlds/refund-policy-simulator",
        "steps": 10,
        "profile": "expected",
        "stateOverrides": "={{ JSON.stringify({ trust_score: $json.trust_score, refund_rate: $json.refund_rate, abuse_rate: $json.abuse_rate, customer_satisfaction: $json.customer_satisfaction, revenue_margin: $json.revenue_margin, escalation_rate: $json.escalation_rate, auto_resolve_rate: $json.auto_resolve_rate }) }}",
        "haltOnCollapse": false
      },
      "id": "sim-expected",
      "name": "Simulate Expected",
      "type": "@neuroverseos/n8n-nodes-neuroverse.neuroVerseSimulate",
      "typeVersion": 1,
      "position": [760, 400]
    },
    {
      "parameters": {
        "worldSource": "filePath",
        "worldFilePath": "/data/worlds/refund-policy-simulator",
        "steps": 10,
        "profile": "worst_case",
        "stateOverrides": "={{ JSON.stringify({ trust_score: $json.trust_score, refund_rate: $json.refund_rate, abuse_rate: $json.abuse_rate, customer_satisfaction: $json.customer_satisfaction, revenue_margin: $json.revenue_margin, escalation_rate: $json.escalation_rate, auto_resolve_rate: $json.auto_resolve_rate }) }}",
        "haltOnCollapse": false
      },
      "id": "sim-worst",
      "name": "Simulate Worst Case",
      "type": "@neuroverseos/n8n-nodes-neuroverse.neuroVerseSimulate",
      "typeVersion": 1,
      "position": [760, 600]
    },
    {
      "parameters": {
        "decisionLabel": "Enable auto-refunds under $100",
        "collapseTolerance": "none",
        "requireAllViable": false
      },
      "id": "compare-1",
      "name": "Compare Profiles",
      "type": "@neuroverseos/n8n-nodes-neuroverse.neuroVerseCompare",
      "typeVersion": 1,
      "position": [1100, 400],
      "notes": "Compares all 3 simulation profiles side-by-side. Generates a comparison report with decision routing. No code needed."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'APPROVED', decision: $json.decision, recommendation: $json.recommendation, report: $json.report, profiles: $json.profiles }, null, 2) }}"
      },
      "id": "respond-approve",
      "name": "Respond: Safe to Deploy",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1400, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'REVIEW', decision: $json.decision, recommendation: $json.recommendation, report: $json.report, profiles: $json.profiles }, null, 2) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-review",
      "name": "Respond: Needs Review",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1400, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'BLOCKED', decision: $json.decision, recommendation: $json.recommendation, report: $json.report, profiles: $json.profiles }, null, 2) }}",
        "options": {
          "responseCode": 422
        }
      },
      "id": "respond-block",
      "name": "Respond: Do NOT Deploy",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1400, 600]
    }
  ],
  "connections": {
    "Policy Proposal": {
      "main": [
        [{ "node": "Prepare Simulation Input", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Simulation Input": {
      "main": [
        [
          { "node": "Simulate Best Case", "type": "main", "index": 0 },
          { "node": "Simulate Expected", "type": "main", "index": 0 },
          { "node": "Simulate Worst Case", "type": "main", "index": 0 }
        ]
      ]
    },
    "Simulate Best Case": {
      "main": [
        [{ "node": "Compare Profiles", "type": "main", "index": 0 }],
        [{ "node": "Compare Profiles", "type": "main", "index": 0 }],
        [{ "node": "Compare Profiles", "type": "main", "index": 0 }]
      ]
    },
    "Simulate Expected": {
      "main": [
        [{ "node": "Compare Profiles", "type": "main", "index": 0 }],
        [{ "node": "Compare Profiles", "type": "main", "index": 0 }],
        [{ "node": "Compare Profiles", "type": "main", "index": 0 }]
      ]
    },
    "Simulate Worst Case": {
      "main": [
        [{ "node": "Compare Profiles", "type": "main", "index": 0 }],
        [{ "node": "Compare Profiles", "type": "main", "index": 0 }],
        [{ "node": "Compare Profiles", "type": "main", "index": 0 }]
      ]
    },
    "Compare Profiles": {
      "main": [
        [{ "node": "Respond: Safe to Deploy", "type": "main", "index": 0 }],
        [{ "node": "Respond: Needs Review", "type": "main", "index": 0 }],
        [{ "node": "Respond: Do NOT Deploy", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
