workflows/auto-refund-simulator.json
{
  "name": "Should We Let AI Auto-Handle Refunds? — Behavioral Simulation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "simulate-refund-policy",
        "responseMode": "responseNode"
      },
      "id": "trigger-1",
      "name": "Policy Proposal",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "notes": "Receives a policy change proposal. Example POST body:\n{\n  \"proposal\": \"Enable auto-refunds under $100\",\n  \"current_state\": {\n    \"trust_score\": 75,\n    \"refund_rate\": 12,\n    \"abuse_rate\": 3\n  }\n}"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ JSON.stringify({ proposal: $json.body?.proposal || 'Enable auto-refunds under $100', trust_score: $json.body?.current_state?.trust_score ?? 75, refund_rate: $json.body?.current_state?.refund_rate ?? 12, abuse_rate: $json.body?.current_state?.abuse_rate ?? 3, customer_satisfaction: $json.body?.current_state?.customer_satisfaction ?? 70, revenue_margin: $json.body?.current_state?.revenue_margin ?? 65, escalation_rate: $json.body?.current_state?.escalation_rate ?? 8, auto_resolve_rate: 60 }) }}"
      },
      "id": "setup-1",
      "name": "Prepare Simulation Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 400],
      "notes": "Normalizes input and sets auto_resolve_rate to 60% — this is the 'what if' scenario we're testing."
    },
    {
      "parameters": {
        "worldSource": "filePath",
        "worldFilePath": "/data/worlds/refund-policy-simulator",
        "steps": 10,
        "profile": "best_case",
        "stateOverrides": "={{ JSON.stringify({ trust_score: $json.trust_score, refund_rate: $json.refund_rate, abuse_rate: $json.abuse_rate, customer_satisfaction: $json.customer_satisfaction, revenue_margin: $json.revenue_margin, escalation_rate: $json.escalation_rate, auto_resolve_rate: $json.auto_resolve_rate }) }}",
        "haltOnCollapse": false
      },
      "id": "sim-best",
      "name": "Simulate Best Case",
      "type": "@neuroverseos/n8n-nodes-neuroverse.neuroVerseSimulate",
      "typeVersion": 1,
      "position": [760, 200]
    },
    {
      "parameters": {
        "worldSource": "filePath",
        "worldFilePath": "/data/worlds/refund-policy-simulator",
        "steps": 10,
        "profile": "expected",
        "stateOverrides": "={{ JSON.stringify({ trust_score: $json.trust_score, refund_rate: $json.refund_rate, abuse_rate: $json.abuse_rate, customer_satisfaction: $json.customer_satisfaction, revenue_margin: $json.revenue_margin, escalation_rate: $json.escalation_rate, auto_resolve_rate: $json.auto_resolve_rate }) }}",
        "haltOnCollapse": false
      },
      "id": "sim-expected",
      "name": "Simulate Expected",
      "type": "@neuroverseos/n8n-nodes-neuroverse.neuroVerseSimulate",
      "typeVersion": 1,
      "position": [760, 400]
    },
    {
      "parameters": {
        "worldSource": "filePath",
        "worldFilePath": "/data/worlds/refund-policy-simulator",
        "steps": 10,
        "profile": "worst_case",
        "stateOverrides": "={{ JSON.stringify({ trust_score: $json.trust_score, refund_rate: $json.refund_rate, abuse_rate: $json.abuse_rate, customer_satisfaction: $json.customer_satisfaction, revenue_margin: $json.revenue_margin, escalation_rate: $json.escalation_rate, auto_resolve_rate: $json.auto_resolve_rate }) }}",
        "haltOnCollapse": false
      },
      "id": "sim-worst",
      "name": "Simulate Worst Case",
      "type": "@neuroverseos/n8n-nodes-neuroverse.neuroVerseSimulate",
      "typeVersion": 1,
      "position": [760, 600]
    },
    {
      "parameters": {
        "functionCode": "// ─── Merge + Compare + Decide (UNIVERSAL) ───\n// Works with ANY world file. Uses top-level fields from the Simulate node.\n// No hardcoded metric names or world-specific logic.\n\n// Collect all simulation profiles from input items\nconst profiles = {};\nfor (const item of items) {\n  const profileName = item.json.profile;\n  profiles[profileName] = {\n    viable: item.json.viable,\n    viability: item.json.viability,\n    collapsed: item.json.collapsed,\n    worldName: item.json.worldName,\n    report: item.json.report,\n    narrative: item.json.narrative,\n    stateDeltas: item.json.stateDeltas || {},\n    simulation: item.json.simulation || {}\n  };\n}\n\nconst profileNames = Object.keys(profiles);\nconst profileList = Object.values(profiles);\n\n// ─── Universal Decision Logic ───\nconst allViable = profileList.every(p => p.viable);\nconst anyCollapsed = profileList.some(p => p.collapsed);\nconst anyCritical = profileList.some(p => p.viability === 'CRITICAL' || p.viability === 'MODEL_COLLAPSES');\nconst worldName = profileList[0]?.worldName || 'Unknown';\n\n// Find expected/middle profile for nuanced decisions\nconst expectedProfile = profiles.expected || profiles.baseline || profileList[Math.floor(profileList.length / 2)];\nconst expectedOk = expectedProfile?.viable;\n\nlet decision, recommendation;\nif (allViable) {\n  decision = 'APPROVE';\n  recommendation = `All ${profileNames.length} scenarios remain healthy. Safe to proceed.`;\n} else if (expectedOk && !anyCollapsed) {\n  decision = 'APPROVE_WITH_GUARDRAILS';\n  recommendation = 'Expected case is stable, but edge cases show degradation. Proceed with monitoring.';\n} else if (anyCritical || anyCollapsed) {\n  decision = 'BLOCK';\n  recommendation = 'System reaches CRITICAL or collapses under realistic conditions. Do not proceed without changes.';\n} else {\n  decision = 'REVIEW';\n  recommendation = 'Mixed results across profiles. Requires human review before proceeding.';\n}\n\n// ─── Build the universal report ───\nconst lines = [];\nlines.push(`===== SIMULATION COMPARISON: ${worldName} =====`);\nlines.push(`Profiles tested: ${profileNames.join(', ')}`);\nlines.push('');\n\n// Per-profile narratives (from the governance engine — world-aware)\nfor (const [name, profile] of Object.entries(profiles)) {\n  const label = name.replace(/_/g, ' ').toUpperCase();\n  const v = profile.viability || 'UNKNOWN';\n  const collapsed = profile.collapsed ? ' [COLLAPSED]' : '';\n  lines.push(`--- ${label}: ${v}${collapsed} ---`);\n  if (profile.report) {\n    lines.push(profile.report);\n  }\n  // State changes (dynamic — whatever vars the world defines)\n  const deltas = profile.stateDeltas || {};\n  const deltaEntries = Object.entries(deltas);\n  if (deltaEntries.length > 0) {\n    lines.push('  State changes:');\n    for (const [key, delta] of deltaEntries) {\n      if (delta && delta.from !== undefined) {\n        lines.push(`    ${key}: ${delta.from} -> ${delta.to}`);\n      }\n    }\n  }\n  lines.push('');\n}\n\nlines.push('--- DECISION ---');\nlines.push(`  ${decision}`);\nlines.push(`  ${recommendation}`);\n\nconst report = lines.join('\\n');\n\nreturn [{\n  json: {\n    decision,\n    recommendation,\n    report,\n    worldName,\n    profileCount: profileNames.length,\n    allViable,\n    anyCollapsed,\n    profiles: Object.fromEntries(\n      Object.entries(profiles).map(([name, p]) => [name, {\n        viability: p.viability,\n        viable: p.viable,\n        collapsed: p.collapsed,\n        stateDeltas: p.stateDeltas,\n        narrative: p.narrative\n      }])\n    )\n  }\n}];"
      },
      "id": "merge-1",
      "name": "Merge + Compare + Decide",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 400],
      "notes": "Merges all 3 simulation outputs, compares trajectories, and makes a deployment decision. Uses the Simulate node's built-in narrative and state analysis — no intermediate Analyze nodes needed."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "approve",
              "leftValue": "={{ $json.decision }}",
              "rightValue": "BLOCK",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "switch-1",
      "name": "Route Decision",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'APPROVED', decision: $json.decision, recommendation: $json.recommendation, report: $json.report, profiles: $json.profiles }, null, 2) }}"
      },
      "id": "respond-approve",
      "name": "Respond: Safe to Deploy",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1600, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: $json.decision, decision: $json.decision, recommendation: $json.recommendation, report: $json.report, profiles: $json.profiles, topThreats: $json.topThreats }, null, 2) }}",
        "options": {
          "responseCode": 422
        }
      },
      "id": "respond-block",
      "name": "Respond: Do NOT Deploy",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1600, 500]
    }
  ],
  "connections": {
    "Policy Proposal": {
      "main": [
        [{ "node": "Prepare Simulation Input", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Simulation Input": {
      "main": [
        [
          { "node": "Simulate Best Case", "type": "main", "index": 0 },
          { "node": "Simulate Expected", "type": "main", "index": 0 },
          { "node": "Simulate Worst Case", "type": "main", "index": 0 }
        ]
      ]
    },
    "Simulate Best Case": {
      "main": [
        [{ "node": "Merge + Compare + Decide", "type": "main", "index": 0 }],
        [{ "node": "Merge + Compare + Decide", "type": "main", "index": 0 }],
        [{ "node": "Merge + Compare + Decide", "type": "main", "index": 0 }]
      ]
    },
    "Simulate Expected": {
      "main": [
        [{ "node": "Merge + Compare + Decide", "type": "main", "index": 0 }],
        [{ "node": "Merge + Compare + Decide", "type": "main", "index": 0 }],
        [{ "node": "Merge + Compare + Decide", "type": "main", "index": 0 }]
      ]
    },
    "Simulate Worst Case": {
      "main": [
        [{ "node": "Merge + Compare + Decide", "type": "main", "index": 0 }],
        [{ "node": "Merge + Compare + Decide", "type": "main", "index": 0 }],
        [{ "node": "Merge + Compare + Decide", "type": "main", "index": 0 }]
      ]
    },
    "Merge + Compare + Decide": {
      "main": [
        [{ "node": "Route Decision", "type": "main", "index": 0 }]
      ]
    },
    "Route Decision": {
      "main": [
        [{ "node": "Respond: Safe to Deploy", "type": "main", "index": 0 }],
        [{ "node": "Respond: Do NOT Deploy", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
